<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <main>
        <section>
            <h2>Introduction</h2>
            <p>This privacy policy explains how we collect, use, and share your information.</p>
        </section>
        <section>
            <h2>Information We Collect</h2>
            <p>Details about the information collected.</p>
        </section>
        <section>
            <h2>How We Use Your Information</h2>
            <p>Details about how the information is used.</p>
        </section>
        <section>
            <h2>Your Rights</h2>
            <p>Details about user rights regarding their information.</p>
        </section>
        <section>
            <h2>Contact Us</h2>
            <p>If you have any questions about this privacy policy, please contact us info@HellowLab.com.</p>
        </section>
    </main>
    <footer>
        <p>&copy; {{ current_year }} Hellow Lab LLC. All rights reserved.</p>
    </footer>
</body>
</html>
